h2 {
    color: #70A7D8;
    background-color: #C4C4C4;

    section {
        
        vertical-align: middle;
        margin-left: 30px;
    }
footer {
    background-color: #70A7D8;
    color: #ffff;
    display: table;
    font-size: 22px;
    height: 30px;
    letter-spacing: 7px;
    text-align: center;
    width: 100%;
}
i{
    display: table-cell;
    vertical-align: middle;
    margin-left: 30px;
}
