<<<<<<< HEAD
footer {
    background-color: #70A7D8;
    color: #ffff;
    display: table;
    font-size: 22px;
    height: 30px;
    letter-spacing: 7px;
    text-align: center;
    width: 100%;
}
i{
    display: table-cell;
    vertical-align: middle;
    margin-left: 30px;
=======
*{
    margin: 0;
    padding: 0;
>>>>>>> 0848bae2d5dbd80c72842e2f9b11dac427e12efd
}