
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.enlaces{
    background-color: #70A7D8;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.enlaces li{
    list-style:none;
    display: inline;
    text-align: center;
}

.enlaces li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px;
}

footer {
    background-color: #70A7D8;
    color: #ffff;
    display: table;
    font-size: 22px;
    height: 30px;
    letter-spacing: 7px;
    text-align: center;
    width: 100%;
}
i{
    display: table-cell;
    vertical-align: middle;
    margin-left: 30px;
}